body, html {
    background: #ff3b4e;
    margin: 0;
    padding: 0;
}

.images {
	text-align: center;
}

.playerimage {
	text-align: center;
}

.playerimage img {
	border-radius: 0px 80px 0px;
	border-color:#FFFFFF;
    border:8px solid #FFFFFF;
    max-height: 20%;
    max-width: 20%;
}


.intro {
	text-align: center;
	font-size: 50px;
}

.player-info{
	display: none;
}


.chosenone {
	box-shadow: 10px 5px 0px black;
}

.chosenonehover {
	box-shadow: 10px 5px 5px #CFCFC4;
}

* {
	font-family: 'Roboto';
	color: #FFFFFF;
	font-size: 30px;
}

div ul {
	text-align: center;
}

.playername {
	font-size: 43px;
	text-align: center;
}